/* Common styles */

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
  --light-violet-color: #8E38E0;
  --lav-light: #f2deff;
  --lav: #B57EDC;
}

body {
 font-family: Arial, Helvetica, sans-serif;
}

/* End of Common styles */

/* Index */

.main {
  overflow: hidden;
  width: auto;
  height: calc(100vh - 7rem);
  background: url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  perspective: 100rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem var(--grey-color);
  font-family: 'Mochiy Pop One', sans-serif;
}

.main-h1 {
  font-size: 4rem;
  color: var(--white-color);
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.main-paragraph {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  max-width: 50rem;
  margin: auto;
}

.main-image {
  width: 22%;
  animation: image-float 120s infinite;
}

@keyframes image-float {
  0% {
    transform: translateZ(40rem);
    opacity: 1;
  }

  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: 0.8;
  }

  60% {
    transform: translateZ(-1500rem) translateX(800rem);
    opacity: 0.6;
  }

  80% {
    transform: translateZ(-50rem) translateX(100rem);
    opacity: 0.8;
  }

  100% {
    transform: translateZ(40rem);
    opacity: 1;
  }
}

/* End of Index */

/* Tours and services */

.btn-primary {
  background-color: #406f9b;
  border-color: #406f9b;
  transition: all 0.2s ease-in-out;
  font-family: 'Mochiy Pop One', sans-serif;
}

.btn-primary:hover {
  background-color: #2a4a68;
  border-color: #2a4a68;
  transform: scale(0.9);
}


.bgimg {
  background-image: url(../images/background.jpg);
  background-size: contain;
  overflow: hidden;
}

/* End of Tours and services */

/* About us */

.stories {
  position: relative;
  overflow: hidden;
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 4rem;
  margin: 4rem;
  width: 80%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  border-radius: 1em 1em 1em 1em;
  
}

.about-text {
  color: var(--light-grey-color);
  margin-top: 8px;
}

.about-review {
  color: var(--light-grey-color);
  margin-top: 8px;
  text-align: end;
}

.line {
  background: linear-gradient(to right, #2b81e4, #777);
  height: 8px;
}

.about-heading {
  color: var(--primary-color);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.story-bg {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 10px;
  margin: 15px;
  width: 80%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  border-radius: 30px;
}

.story {
  display: flex;
}

.story-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 40px;
  margin-top: 30px;
}


.story-heading {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-family: 'Mochiy Pop One', sans-serif;
}

.story-paragraph {
  color: var(--light-grey-color);
}

.story-paragraph::first-letter {
  margin-left: 10px;
}

.aboutus-img {
  background-image: url(../images/contact-us-bg.png);
  background-size: cover;
}

.contact {
  text-align: center;
  background: url(../images/contact-us-bg.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}

@keyframes contact-bg {
  0% {
    background-color: #a1b1d4;
  }

  25% {
    background-color: #cbcadc;
  }

  50% {
    background-color: #ffdbb9;
  }

  75% {
    background-color: #978785;
  }

  100% {
    background-color: #d5d2e4;
  }
}

/* End of About us */

/* Contact */

.contactimg {
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  overflow: hidden;
}

/* End of Contact */

/* Footer */

footer {
  width: 100%;
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 30px;
}

.redes {

  display: inline-block;
}

.bi-facebook {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #555;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #555;
}

.bi-whatsapp:hover {
  color: #20c05b;
}

.bi-instagram {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #555;
}

.bi-instagram:hover {
  color: #8a3ab9;
}