:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
  --light-violet-color: #8E38E0;
}

.bgcolor {
  background-color: #BAB5B2
}

.bgimg {
  background-image: url(../images/background.jpg);
  background-size: contain;
}



/* Index */

.main {
  width: 100%;
  height: calc(100vh - 7rem);
  background: url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  perspective: 100rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem var(--grey-color);
}

.main-h1 {
  font-size: 4.5rem;
  color: var(--white-color);
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.main-paragraph {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  max-width: 60rem;
  margin: auto;
}

.main-image {
  width: 22%;
  animation: image-float 120s infinite;
}

@keyframes image-float {
  0% {
    transform: translateZ(40rem);
    opacity: 1;
  }

  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: 0.8;
  }

  60% {
    transform: translateZ(-1500rem) translateX(800rem);
    opacity: 0.6;
  }

  80% {
    transform: translateZ(-50rem) translateX(100rem);
    opacity: 0.8;
  }

  100% {
    transform: translateZ(40rem);
    opacity: 1;
  }
}

/* End of Index */

/* About us */

.stories {
  padding: 10px;
  position: relative;
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 4rem;
  margin: 4rem;
  width: 80%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  border-radius: 1em 1em 1em 1em;
}

.about-text {
  font-size: 1.5rem;
  color: var(--light-grey-color);
  margin-top: 8px;
}

.about-review {
  font-size: 1.5rem;
  color: var(--light-grey-color);
  margin-top: 8px;
  text-align: end;
}

.line {
  background: linear-gradient(to right, #2b81e4, #777);
  height: 8px;
}

.about-heading {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.story-bg {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 10px;
  margin: 15px;
  width: 80%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(20deg);
}

.story {
  transform: skewX(-20deg);
  display: flex;
}

.story-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 40px;
  margin-top: 30px;
}


.story-heading {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.story-paragraph {
  font-size: 20px;
  color: var(--light-grey-color);
}

.story-paragraph::first-letter {
  margin-left: 10px;
}

.aboutus-img {
  background-image: url(../images/contact-us-bg.png);
  background-size: cover;
}

.contact {
  text-align: center;
  background: url(../images/contact-us-bg.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}


@keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }

  25% {
    background-color: #ced8e4;
  }

  50% {
    background-color: #1e81f3;
  }

  75% {
    background-color: #ff7842;
  }

  100% {
    background-color: #3d3d3d;
  }
}

.header {
  color: white;
  font-size: 5rem;
  padding: 30px;
}

/* End of about us */